<ion-header>
  <app-headmenu titulo="HOME"></app-headmenu>
</ion-header>

<ion-content color="secondary">

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle color="tertiary">Card Subtitle</ion-card-subtitle>
      <ion-card-title color="tertiary">Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content color="tertiary" class="JustText">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
